@using Micro.Center.Web.Models.Order
@model IEnumerable<OrderViewModel>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-3">

    <h1>Orders</h1>
    <hr />
    <p>
        <a class="btn btn-primary" asp-action="Create">Create New Order</a>
    </p>
    <hr />
<table class="data-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerFullName)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var order in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => order.Id)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => order.DateTime)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => order.TotalPrice)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => order.CustomerFullName)
            </td>
                <td>
                    <a class="text-primary text-decoration-none" asp-action="Edit" asp-route-id="@order.Id" title="Edit">
                        <i class="fa-solid fa-pen-nib"></i>
                    </a>
                    <a class="text-info text-decoration-none ms-2" asp-action="Details" asp-route-id="@order.Id" title="Details">
                        <i class="fa-solid fa-circle-info"></i>
                    </a>
                    <a class="text-danger text-decoration-none ms-2 pointer" asp-action="Delete" data-bs-toggle="modal" data-bs-target="#DeleteModal_@order.Id" title="Delete">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                  
                    <div class="modal fade" id="DeleteModal_@order.Id" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Customer</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <h3>
                                        Are you sure want to delete
                                        <span class="text-danger">@order.Id</span>?
                                    </h3>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

                                    <form asp-action="Delete" asp-route-id="@order.Id">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
        </tr>
}
    </tbody>
</table>
